@use "sass:map";
@use "../abstracts/index" as *;

.container-card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: map.get($spacing, 6);
  margin: map.get($spacing, 4);

  @media only screen and (min-width: 600px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media only screen and (min-width: 992px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media only screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .card {
    border-radius: map.get($radius, xl);
    overflow: hidden;
    min-inline-size: 0;
    inline-size: 100%;

    &.card--profile {
      grid-column: 1;
      grid-row: 1 / span 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media only screen and (min-width: 600px) {
        grid-column: 1 / span 2;
        grid-row: 1;
      }

      @media only screen and (min-width: 992px) {
        grid-column: 1 / span 3;
        grid-row: 1;
      }

      @media only screen and (min-width: 1200px) {
        grid-column: 1;
        grid-row: 1 / span 2;
      }

      .header {
        display: inline-flex;
        padding: map.get($spacing, 6);
        align-items: center;
        column-gap: map.get($spacing, 4);
        border-end-start-radius: map.get($radius, xl);
        border-end-end-radius: map.get($radius, xl);

        @media only screen and (min-width: 1200px) {
          display: flex;
          flex-direction: column;
          row-gap: map.get($spacing, 8);
          block-size: 100%;
          align-items: start;
        }

        .header__image {
          inline-size: 70px;

          @media only screen and (min-width: 1200px) {
            inline-size: 78px;
          }
        }
      }

      .body {
        padding: map.get($spacing, 6);
      }
    }

    &.card--content {
      background-repeat: no-repeat;
      background-size: 4.3rem;
      display: flex;
      flex-direction: column;
      justify-content: end;
      overflow: hidden;
      block-size: 9.35rem;

      @media only screen and (min-width: 600px) {
        block-size: 12.8rem;
      }

      &#work {
        background-image: url(../images/icon-work.svg);
        background-position: 90% -7%;
      }

      &#play {
        background-image: url(../images/icon-play.svg);
        background-position: 90% -4.5%;
      }

      &#study {
        background-image: url(../images/icon-study.svg);
        background-position: 90% -4.5%;
      }

      &#exercise {
        background-image: url(../images/icon-exercise.svg);
        background-position: 90% 0%;
      }

      &#social {
        background-image: url(../images/icon-social.svg);
        background-position: 90% -13%;
      }

      &#self-care {
        background-image: url(../images/icon-self-care.svg);
        background-position: 90% -12%;
      }

      .wrapper-content {
        border-start-start-radius: map.get($radius, xl);
        border-start-end-radius: map.get($radius, xl);
        padding: map.get($spacing, 6);
        cursor: pointer;

        .header {
          inline-size: 100%;
          display: inline-flex;
          align-items: center;
          justify-content: space-between;
          margin-block-end: map.get($spacing, 4);

          @media only screen and (max-width: 600px) {
            margin-block-end: map.get($spacing, sm);
          }
        }

        .body {
          display: flex;
          flex-direction: column;
          row-gap: map.get($spacing, 2);

          @media only screen and (max-width: 600px) {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            inline-size: 100%;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
