*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
-------------------------------------------------
    Color
-------------------------------------------------
*/
/*
-------------------------------------------------
    Margin & padding
-------------------------------------------------
*/
/*
-------------------------------------------------
    Radius
-------------------------------------------------
*/
:root {
  --purple-600: hsl(246, 80%, 60%);
  --orange-300: hsl(15, 100%, 70%);
  --blue-300: hsl(195, 74%, 62%);
  --pink-400: hsl(348, 100%, 68%);
  --green-400: hsl(145, 58%, 55%);
  --purple-700: hsl(264, 64%, 52%);
  --yellow-300: hsl(43, 84%, 65%);
  --navy-950: hsl(226, 43%, 10%);
  --navy-900: hsl(235, 46%, 20%);
  --navy-500: hsl(235, 41%, 34%);
  --purple-500: hsl(235, 45%, 61%);
  --navy-200: hsl(236, 100%, 87%);
  --white: hsl(136, 0%, 100%);
}

body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.1;
  background-color: var(--navy-950);
}

main {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  font-family: inherit;
  box-shadow: none;
  cursor: pointer;
}

img {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}

html {
  font-size: 112.5%;
}

h1 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 3;
  font-size: 1.25rem;
  font-weight: 300;
}
@media (min-width: 33.33rem) {
  h1 {
    font-size: 1.563rem;
    font-weight: 300;
  }
}
@media (min-width: 66.67rem) {
  h1 {
    font-size: 1.953rem;
    font-weight: 300;
  }
}

h2 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  font-size: 1rem;
  font-weight: 400;
}

.container {
  inline-size: 20.83rem;
  min-block-size: 100vh;
  display: flex;
  align-items: center;
  margin: 0.89em;
}
@media (min-width: 33.33rem) {
  .container {
    inline-size: 33.33rem;
  }
}
@media (min-width: 55.11rem) {
  .container {
    inline-size: 48.89rem;
  }
}
@media (min-width: 66.67rem) {
  .container {
    inline-size: 61.11rem;
  }
}

.profile, .work, .play, .study, .exercise, .social, .self-care {
  border-radius: 16px;
  overflow: hidden;
  inline-size: 100%;
}

.work, .play, .study, .exercise, .social, .self-care {
  background-repeat: no-repeat;
  background-size: 4.3em;
}

.container-card {
  display: grid;
  inline-size: 100%;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.33em;
}
@media (min-width: 33.33rem) {
  .container-card {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 55.11rem) {
  .container-card {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 66.67rem) {
  .container-card {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.profile {
  grid-column: 1;
  grid-row: 1/span 2;
  background-color: var(--navy-900);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile__header {
  display: flex;
  flex-direction: row;
  padding: 1.33em;
  align-items: center;
  column-gap: 0.89em;
  border-end-start-radius: 16px;
  border-end-end-radius: 16px;
  background-color: var(--purple-600);
  block-size: 100%;
}
@media (min-width: 66.67rem) {
  .profile__header {
    flex-direction: column;
    align-items: start;
    row-gap: 2.67em;
  }
}
.profile__image {
  inline-size: 3.89rem;
  border: 3px solid var(--white);
  border-radius: 50%;
}
@media (min-width: 66.67rem) {
  .profile__image {
    inline-size: 4.33rem;
  }
}
.profile__title {
  color: var(--white);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 3;
}
.profile__title-variant {
  display: block;
  font-size: 0.61em;
  font-weight: 400;
  color: var(--navy-200);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
}
@media (min-width: 33.33rem) {
  .profile__title-variant {
    font-size: 0.5em;
  }
}
@media (min-width: 66.67rem) {
  .profile__title-variant {
    font-size: 0.39em;
  }
}
.profile__menu {
  padding: 1.33em;
  inline-size: 100%;
}
.profile__menu-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (min-width: 55.11rem) {
  .profile__menu-group {
    inline-size: 50%;
    justify-self: center;
  }
}
@media (min-width: 66.67rem) {
  .profile__menu-group {
    inline-size: 100%;
    justify-self: start;
    flex-direction: column;
    row-gap: 0.89em;
  }
}
.profile__menu-item {
  display: inline-flex;
}
.profile__menu-button {
  font-size: 1rem;
  font-weight: 400;
  color: var(--purple-500);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
}
.profile__menu-button:hover {
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
}
.profile__menu-button.is-active {
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
}
@media (min-width: 33.33rem) {
  .profile {
    grid-column: 1/span 2;
    grid-row: 1;
  }
}
@media (min-width: 55.11rem) {
  .profile {
    grid-column: 1/span 3;
    grid-row: 1;
  }
}
@media (min-width: 66.67rem) {
  .profile {
    grid-column: 1;
    grid-row: 1/span 2;
  }
}

.work {
  background-image: url(../images/icon-work.svg);
  background-position: right 20px top -10px;
  background-color: var(--orange-300);
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
  padding-block-start: 2em;
}
@media (min-width: 33.33rem) {
  .work {
    padding-block-start: 2.39em;
  }
}
.work__wrapper {
  background-color: var(--navy-900);
  border-start-start-radius: 16px;
  border-start-end-radius: 16px;
  padding: 1.33em;
  cursor: pointer;
}
.work__wrapper:hover {
  background-color: var(--navy-500);
}
.work__header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-block-end: 1.33em;
}
.work__title {
  color: var(--white);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
}
.work__icon {
  color: var(--white);
  font-size: 1.22rem;
}
.work__body {
  display: flex;
  align-items: center;
  flex-direction: row;
  row-gap: 0.44em;
}
@media (min-width: 33.33rem) {
  .work__body {
    flex-direction: column;
    align-items: start;
    row-gap: 0.44em;
  }
}
.work__time {
  inline-size: 50%;
  text-align: start;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  font-size: 1.563rem;
  font-weight: 300;
  color: var(--white);
}
@media (min-width: 33.33rem) {
  .work__time {
    font-size: 2.441rem;
    font-weight: 300;
    color: var(--white);
  }
}
@media (min-width: 55.11rem) {
  .work__time {
    font-size: 3.052rem;
    font-weight: 300;
    color: var(--white);
  }
}
@media (min-width: 33.33rem) {
  .work__time {
    inline-size: 100%;
  }
}
.work__desc {
  inline-size: 50%;
  text-align: end;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--navy-200);
}
@media (min-width: 33.33rem) {
  .work__desc {
    inline-size: 100%;
    text-align: start;
  }
}

.play {
  background-image: url(../images/icon-play.svg);
  background-position: right 20px top -7px;
  background-color: var(--blue-300);
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
  padding-block-start: 2em;
}
@media (min-width: 33.33rem) {
  .play {
    padding-block-start: 2.39em;
  }
}
.play__wrapper {
  background-color: var(--navy-900);
  border-start-start-radius: 16px;
  border-start-end-radius: 16px;
  padding: 1.33em;
  cursor: pointer;
}
.play__wrapper:hover {
  background-color: var(--navy-500);
}
.play__header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-block-end: 1.33em;
}
.play__title {
  color: var(--white);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
}
.play__icon {
  color: var(--white);
  font-size: 1.22rem;
}
.play__body {
  display: flex;
  align-items: center;
  flex-direction: row;
  row-gap: 0.44em;
}
@media (min-width: 33.33rem) {
  .play__body {
    flex-direction: column;
    align-items: start;
    row-gap: 0.44em;
  }
}
.play__time {
  inline-size: 50%;
  text-align: start;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  font-size: 1.563rem;
  font-weight: 300;
  color: var(--white);
}
@media (min-width: 33.33rem) {
  .play__time {
    font-size: 2.441rem;
    font-weight: 300;
    color: var(--white);
  }
}
@media (min-width: 55.11rem) {
  .play__time {
    font-size: 3.052rem;
    font-weight: 300;
    color: var(--white);
  }
}
@media (min-width: 33.33rem) {
  .play__time {
    inline-size: 100%;
  }
}
.play__desc {
  inline-size: 50%;
  text-align: end;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--navy-200);
}
@media (min-width: 33.33rem) {
  .play__desc {
    inline-size: 100%;
    text-align: start;
  }
}

.study {
  background-image: url(../images/icon-study.svg);
  background-position: right 20px top -10px;
  background-color: var(--pink-400);
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
  padding-block-start: 2em;
}
@media (min-width: 33.33rem) {
  .study {
    padding-block-start: 2.39em;
  }
}
.study__wrapper {
  background-color: var(--navy-900);
  border-start-start-radius: 16px;
  border-start-end-radius: 16px;
  padding: 1.33em;
  cursor: pointer;
}
.study__wrapper:hover {
  background-color: var(--navy-500);
}
.study__header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-block-end: 1.33em;
}
.study__title {
  color: var(--white);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
}
.study__icon {
  color: var(--white);
  font-size: 1.22rem;
}
.study__body {
  display: flex;
  align-items: center;
  flex-direction: row;
  row-gap: 0.44em;
}
@media (min-width: 33.33rem) {
  .study__body {
    flex-direction: column;
    align-items: start;
    row-gap: 0.44em;
  }
}
.study__time {
  inline-size: 50%;
  text-align: start;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  font-size: 1.563rem;
  font-weight: 300;
  color: var(--white);
}
@media (min-width: 33.33rem) {
  .study__time {
    font-size: 2.441rem;
    font-weight: 300;
    color: var(--white);
  }
}
@media (min-width: 55.11rem) {
  .study__time {
    font-size: 3.052rem;
    font-weight: 300;
    color: var(--white);
  }
}
@media (min-width: 33.33rem) {
  .study__time {
    inline-size: 100%;
  }
}
.study__desc {
  inline-size: 50%;
  text-align: end;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--navy-200);
}
@media (min-width: 33.33rem) {
  .study__desc {
    inline-size: 100%;
    text-align: start;
  }
}

.exercise {
  background-image: url(../images/icon-exercise.svg);
  background-position: right 20px top 0px;
  background-color: var(--green-400);
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
  padding-block-start: 2em;
}
@media (min-width: 33.33rem) {
  .exercise {
    padding-block-start: 2.39em;
  }
}
.exercise__wrapper {
  background-color: var(--navy-900);
  border-start-start-radius: 16px;
  border-start-end-radius: 16px;
  padding: 1.33em;
  cursor: pointer;
}
.exercise__wrapper:hover {
  background-color: var(--navy-500);
}
.exercise__header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-block-end: 1.33em;
}
.exercise__title {
  color: var(--white);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
}
.exercise__icon {
  color: var(--white);
  font-size: 1.22rem;
}
.exercise__body {
  display: flex;
  align-items: center;
  flex-direction: row;
  row-gap: 0.44em;
}
@media (min-width: 33.33rem) {
  .exercise__body {
    flex-direction: column;
    align-items: start;
    row-gap: 0.44em;
  }
}
.exercise__time {
  inline-size: 50%;
  text-align: start;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  font-size: 1.563rem;
  font-weight: 300;
  color: var(--white);
}
@media (min-width: 33.33rem) {
  .exercise__time {
    font-size: 2.441rem;
    font-weight: 300;
    color: var(--white);
  }
}
@media (min-width: 55.11rem) {
  .exercise__time {
    font-size: 3.052rem;
    font-weight: 300;
    color: var(--white);
  }
}
@media (min-width: 33.33rem) {
  .exercise__time {
    inline-size: 100%;
  }
}
.exercise__desc {
  inline-size: 50%;
  text-align: end;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--navy-200);
}
@media (min-width: 33.33rem) {
  .exercise__desc {
    inline-size: 100%;
    text-align: start;
  }
}

.social {
  background-image: url(../images/icon-social.svg);
  background-position: right 20px top -18px;
  background-color: var(--purple-700);
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
  padding-block-start: 2em;
}
@media (min-width: 33.33rem) {
  .social {
    padding-block-start: 2.39em;
  }
}
.social__wrapper {
  background-color: var(--navy-900);
  border-start-start-radius: 16px;
  border-start-end-radius: 16px;
  padding: 1.33em;
  cursor: pointer;
}
.social__wrapper:hover {
  background-color: var(--navy-500);
}
.social__header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-block-end: 1.33em;
}
.social__title {
  color: var(--white);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
}
.social__icon {
  color: var(--white);
  font-size: 1.22rem;
}
.social__body {
  display: flex;
  align-items: center;
  flex-direction: row;
  row-gap: 0.44em;
}
@media (min-width: 33.33rem) {
  .social__body {
    flex-direction: column;
    align-items: start;
    row-gap: 0.44em;
  }
}
.social__time {
  inline-size: 50%;
  text-align: start;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  font-size: 1.563rem;
  font-weight: 300;
  color: var(--white);
}
@media (min-width: 33.33rem) {
  .social__time {
    font-size: 2.441rem;
    font-weight: 300;
    color: var(--white);
  }
}
@media (min-width: 55.11rem) {
  .social__time {
    font-size: 3.052rem;
    font-weight: 300;
    color: var(--white);
  }
}
@media (min-width: 33.33rem) {
  .social__time {
    inline-size: 100%;
  }
}
.social__desc {
  inline-size: 50%;
  text-align: end;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--navy-200);
}
@media (min-width: 33.33rem) {
  .social__desc {
    inline-size: 100%;
    text-align: start;
  }
}

.self-care {
  background-image: url(../images/icon-self-care.svg);
  background-position: right 20px top -19px;
  background-color: var(--yellow-300);
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
  padding-block-start: 2em;
}
@media (min-width: 33.33rem) {
  .self-care {
    padding-block-start: 2.39em;
  }
}
.self-care__wrapper {
  background-color: var(--navy-900);
  border-start-start-radius: 16px;
  border-start-end-radius: 16px;
  padding: 1.33em;
  cursor: pointer;
}
.self-care__wrapper:hover {
  background-color: var(--navy-500);
}
.self-care__header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-block-end: 1.33em;
}
.self-care__title {
  color: var(--white);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
}
.self-care__icon {
  color: var(--white);
  font-size: 1.22rem;
}
.self-care__body {
  display: flex;
  align-items: center;
  flex-direction: row;
  row-gap: 0.44em;
}
@media (min-width: 33.33rem) {
  .self-care__body {
    flex-direction: column;
    align-items: start;
    row-gap: 0.44em;
  }
}
.self-care__time {
  inline-size: 50%;
  text-align: start;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  font-size: 1.563rem;
  font-weight: 300;
  color: var(--white);
}
@media (min-width: 33.33rem) {
  .self-care__time {
    font-size: 2.441rem;
    font-weight: 300;
    color: var(--white);
  }
}
@media (min-width: 55.11rem) {
  .self-care__time {
    font-size: 3.052rem;
    font-weight: 300;
    color: var(--white);
  }
}
@media (min-width: 33.33rem) {
  .self-care__time {
    inline-size: 100%;
  }
}
.self-care__desc {
  inline-size: 50%;
  text-align: end;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--navy-200);
}
@media (min-width: 33.33rem) {
  .self-care__desc {
    inline-size: 100%;
    text-align: start;
  }
}

/*# sourceMappingURL=style.css.map */
