@use "sass:map";
@use "../abstracts/index" as *;

:root {
  @each $name, $color in $colors {
    --#{"" + $name}: #{$color};
  }
}

body {
  display: flex;
  justify-content: center;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
  inline-size: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}

img {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}
