@use "sass:map";
@use "../abstracts/index" as *;

$modifiers: (hover, active);

@each $name, $color in $colors {
  // background color classes
  .bg- {
    &#{"" + $name} {
      background-color: $color;
    }

    // modifier
    @each $modifier in $modifiers {
      @if $modifier == hover {
        &#{"" + $name}--#{$modifier}:hover {
          background-color: $color;
        }
      }
    }
  }

  // font color classes
  .text- {
    &#{"" + $name} {
      color: $color;
    }

    // modifier
    @each $modifier in $modifiers {
      @if $modifier == hover {
        &#{"" + $name}--#{$modifier}:hover {
          color: $color;
        }
      } @else if $modifier == active {
        &#{"" + $name}--#{$modifier}.active {
          color: $color !important;
        }
      }
    }
  }
}
