@use "sass:map";
@use "../abstracts/index" as *;

$basises: (100, 50);

@each $basis in $basises {
  .flex-basis- {
    &#{$basis} {
      flex-basis: #{$basis + "%"};
    }

    // Modifier
    @each $breakpoint, $value in $breakPoints {
      @media only screen and (min-width: #{$value}) {
        &#{$basis}--#{$breakpoint} {
          flex-basis: #{$basis + "%"} !important;
        }
      }
    }
  }
}
