@use "sass:map";
@use "../abstracts/index" as *;

.container {
  inline-size: px-to-rem(375);
  min-block-size: 100vh;
  display: flex;
  align-items: center;

  @media only screen and (min-width: map.get($breakPoints, sm)) {
    inline-size: px-to-rem(600);
  }

  @media only screen and (min-width: map.get($breakPoints, md)) {
    inline-size: px-to-rem(880);
  }

  @media only screen and (min-width: map.get($breakPoints, lg)) {
    inline-size: px-to-rem(1100);
  }
}
