@use "sass:map";
@use "../abstracts/index" as *;

@mixin list() {
  inline-size: 100%;

  &-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @include media-query-md() {
      inline-size: 50%;
      justify-self: center;
    }

    @include media-query-lg() {
      inline-size: 100%;
      justify-self: start;
      flex-direction: column;
      row-gap: map.get($spacing, 4);
    }
  }

  &-item {
    display: inline-flex;
  }

  &-button {
    @include font-preset-2($color: var(--purple-500), $fontWeight: 400);
    @include line-clamp(1);

    &:hover {
      @include font-preset-2($color: var(--white), $fontWeight: 400);
    }

    &.is-active {
      @include font-preset-2($color: var(--white), $fontWeight: 400);
    }
  }
}
