@use "./converter" as *;

/* -------------- Break point modifier --------------*/
$breakPoints: (
  sm: px-to-rem(600),
  md: px-to-rem(992),
  lg: px-to-rem(1200),
);

/*
-------------------------------------------------
    Color
-------------------------------------------------
*/
$colors: (
  purple-600: hsl(246, 80%, 60%),
  orange-300: hsl(15, 100%, 70%),
  blue-300: hsl(195, 74%, 62%),
  pink-400: hsl(348, 100%, 68%),
  green-400: hsl(145, 58%, 55%),
  purple-700: hsl(264, 64%, 52%),
  yellow-300: hsl(43, 84%, 65%),
  navy-950: hsl(226, 43%, 10%),
  navy-900: hsl(235, 46%, 20%),
  navy-500: hsl(235, 41%, 34%),
  purple-500: hsl(235, 45%, 61%),
  navy-200: hsl(236, 100%, 87%),
  white: hsl(136, 0%, 100%),
);
/*
-------------------------------------------------
  Color end
-------------------------------------------------
*/

/*
-------------------------------------------------
    Font size
    using Major Third scale ~1.25
-------------------------------------------------
*/
$font: (
  xs: 0.64rem,
  sm: 0.8rem,
  md: 1rem,
  lg: 1.25rem,
  xl: 1.563rem,
  2xl: 1.953rem,
  3xl: 2.441rem,
  4xl: 3.052rem,
  5xl: 3.815rem,
);
/*
-------------------------------------------------
    Font size end
-------------------------------------------------
*/

/*
-------------------------------------------------
    Margin & padding
    based on 4px rhythm
-------------------------------------------------
*/
$spacing: (
  0: 0rem,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  8: 2rem,
  10: 2.5rem,
  12: 3rem,
  16: 4rem,
);
/*
-------------------------------------------------
    Margin & padding end
-------------------------------------------------
*/

/*
-------------------------------------------------
    Radius
-------------------------------------------------
*/
$radius: (
  none: 0,
  xs: 0.125rem,
  sm: 0.25rem,
  md: 0.5rem,
  lg: 0.75rem,
  xl: 1rem,
  full: 50%,
);
/*
-------------------------------------------------
    Radius end
-------------------------------------------------
*/
