@use "./functions/index" as *;

/*
-------------------------------------------------
    Color
-------------------------------------------------
*/
$colors: (
  purple-600: hsl(246, 80%, 60%),
  orange-300: hsl(15, 100%, 70%),
  blue-300: hsl(195, 74%, 62%),
  pink-400: hsl(348, 100%, 68%),
  green-400: hsl(145, 58%, 55%),
  purple-700: hsl(264, 64%, 52%),
  yellow-300: hsl(43, 84%, 65%),
  navy-950: hsl(226, 43%, 10%),
  navy-900: hsl(235, 46%, 20%),
  navy-500: hsl(235, 41%, 34%),
  purple-500: hsl(235, 45%, 61%),
  navy-200: hsl(236, 100%, 87%),
  white: hsl(136, 0%, 100%),
);

$baseSpaceSize: 4px;

/*
-------------------------------------------------
    Margin & padding
-------------------------------------------------
*/
$spacing: (
  0: 0,
  1: px-to-em($baseSpaceSize * 1),
  2: px-to-em($baseSpaceSize * 2),
  3: px-to-em($baseSpaceSize * 3),
  4: px-to-em($baseSpaceSize * 4),
  5: px-to-em($baseSpaceSize * 5),
  6: px-to-em($baseSpaceSize * 6),
  8: px-to-em($baseSpaceSize * 8),
  10: px-to-em($baseSpaceSize * 10),
  12: px-to-em($baseSpaceSize * 12),
  16: px-to-em($baseSpaceSize * 16),
);

/*
-------------------------------------------------
    Radius
-------------------------------------------------
*/
$radius: (
  br-0: 0,
  br-1: calc($baseSpaceSize * 0.5),
  br-2: calc($baseSpaceSize * 1),
  br-3: calc($baseSpaceSize * 2),
  br-4: calc($baseSpaceSize * 3),
  br-5: calc($baseSpaceSize * 4),
  br-6: calc($baseSpaceSize * 5),
  br-7: calc($baseSpaceSize * 6),
  br-8: calc($baseSpaceSize * 8),
  br-full: 50%,
);
